{% extends 'base.html' %}

{% block title %}Histórico de Documentos{% endblock %}

{% block content %}
    <div class="sub-nav">
        <a href="{% url 'extractor:upload_documento' %}" class="sub-nav-link"><i class="fa-solid fa-plus"></i> Extrair Novo Documento</a>
    </div>
    <h1>Histórico de Documentos</h1>
    <p class="subtitle">Veja todos os documentos que já foram processados.</p>

    <table class="history-table">
        <thead>
            <tr>
                <th>Título do Documento</th>
                <th>Data do Upload</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for documento in documentos %}
            <tr>
                <td data-label="Título">{{ documento.titulo }}</td>
                <td data-label="Data">{{ documento.data_de_upload|date:"d/m/Y H:i" }}</td>
                <td class="actions-cell">
                    <a href="{% url 'extractor:resultado_extracao' documento.id %}" class="btn-details">Ver Resultado</a>
                    <a href="#" class="btn-delete-link js-delete-btn" 
                    data-url="{% url 'extractor:delete_documento' documento.id %}" 
                    data-item-name="{{ documento.titulo }}">Excluir</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" style="text-align: center;">Nenhum documento foi analisado ainda.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}